body {
			padding: 0;
			margin: 0;
			background-color: #FFFBD5;
			/*background-color: #AEAEAE;*/
			/*background-color: #FFD430;*/
			font-family: Arial;
		}
.header {
			/*background-color: #E8F069;*/
			background-color: #FFD430;
			padding: 10px;
			text-align: center;
			/*box-shadow: 0px 50px rgba(0, 0, 0, 0.5);*/
		}
a {
			text-decoration: none;
			color: black;
		}
		.centreBody {
			margin-left: 25%;
			margin-right: 25%;
			width: auto;
			/*background-color: white;*/
			height: 100%;
		}
		.socialWrapper {
			display: inline-block;
			border-right: 5px solid /*blue*/#4B4B4B;
			background-color: #66BEF6;
			padding: 5px;
		}
		.post {
			padding: 10px;
		}
		h1 {
			text-align: center;
		}
		p {
			margin: 0;
			padding: 0;
		}