body {
	padding: 0;
	margin: 0;
	/*background-color: #FFFBD5;*/
	background-color: #C4C7C0;
	/*background-color: #AEAEAE;*/
	/*background-color: #FFD430;*/
	font-family: Arial;
	font-size: 12pt;
	text-align: center;
	overflow-x: hidden;
	overflow-y: visible;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url('OVERGROWN.avif'), url('OVERGROWN.JPG');
}
html {
	overflow-x: hidden;
}

a {
	color: #2708A0;
}

.centreBody {
	margin-left: 25%;
	margin-right: 25%;
	width: auto;
	/*background-color: white;*/
	height: 100%;
	/*background-color: rgba(255, 255, 255, 0.5);*/
	/*background-image: radial-gradient(white, rgba(255,255,255,0.5));*/
	/*background-color: #C4C7C0;*/
	background-image: radial-gradient(#C4C7C0, rgba(196,199,192,0.4));
	padding: 20px;
	text-align: center;
	overflow-x: hidden;
}

.projectlist {
	display: inline-block;
	vertical-align: top;
	margin: 5px;
	padding: 5px;
	text-align: left;
	border: solid gray;
	border-width: 1px 0px 0px 0px;
}

h1 {
	text-align: center;
	font-size: 3em;
}

ul {
	padding: 20px;
	text-align: left;
}
@media only screen and (max-width: 1500px) {
	#background {
		height:100%;
		width: auto;
	}
}
@media only screen and (max-width: 1400px) {
	.projectlist {
		display: block;
		margin: auto;
		max-width: 300px;
	}
	.centreBody {
		max-width: 650px;
		margin-left: auto;
		margin-right: auto;
	}
}
