@font-face {
  font-family: "VSMetaPlain";
  src: url("VSMetaPlain-PUA.ttf") format("truetype");

  /*src: url("http://web.meson.org/downloads/VSMetaPlain-PUA.ttf") format("truetype");*/
}
h1 {
  font-size: 1em;
}
body {
  font-family: "VSMetaPlain";
  font-size: 3em;
  display: grid;
  grid-template-columns: 1fr minmax(300px, 50%) 1fr;
  grid-template-rows: 10% 1fr;
}
main {
	grid-column: 2;
	grid-row: 2;
}
#blurb {
	grid-column: 2;
	gird-row: 1;
}
main > div {
  padding: 10px;
  margin: auto;
  background-color: lightgray;
  border-bottom: 2px solid black;
  margin-bottom: 10px;
}
span span {
  display: none;
  background-color: gray;
  position: absolute;
  /*pointer-events:none;*/ /*potentially useful but means text is nonselectable*/
}
span {
  cursor: pointer;
  transition: 0.25s;
}
span:hover {
  background-color: gray;
}
span:click {
  background-color: white;
}
/*span:hover span {
	display: inline;

}*/
h2 {
	font-size: 1em;
}
p {
	font-size: 1rem;
}
